<div id="<%= dom_id post %>" class= "post-container">
  <p>
    <%= post.title %>
  </p>

  <p>
    <%= post.description %>
  </p>

  <p>
    <%= post.keywords %>
  </p>

    <p>
      <%= link_to "e", post, class:"post-link" %>
    </p>
    <% post.images.each do |image| %>
       <%= image_tag(image)%>
    <% end %>
</div>
